{% load i18n %}
<h3 class="my-0 mr-md-auto font-weight-normal">
    <a class="text-decoration-none" href="{% url 'product:product-list' %}">
        <bold>Duuka</bold>
    </a>
</h3>
<nav class="my-2 my-md-0 mr-md-3">
    <div class="row">
        <div class="dropdown p-2 col-3">
            <a class="p-2 text-dark mr-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {% trans 'Languages' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <a class="dropdown-item"href="{% url 'lang' 'en' %}">{% trans 'English' %}</a>
                <a class="dropdown-item" href="{% url 'lang' 'fr' %}">{% trans 'French' %}</a>

            </div>
        </div>
        <div class="dropdown p-2 col-3">
            <a class="p-2 text-dark mr-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {% trans 'Category' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for category in categories %}
                <a class="dropdown-item"
                    href="{% url 'product:products-category' category.category_name  %}">{{ category.category_name }}</a>
                {% empty %}
                <a class="dropdown-item" href="#">{% trans 'No Available Category' %}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown p-2 col-3">
            <a class="p-2 text-dark mr-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {% trans 'Vendors' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for vendor in vendors %}
                <a class="dropdown-item"
                    href="{% url 'product:products-vendor' vendor.user.id  %}">{{ vendor.user.username }}</a>
                {% empty %}
                <a class="dropdown-item" href="#">{% trans 'No Available Vnedors' %}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown p-2 col-3">
            <a class="p-2 text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {% trans 'Support' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">{% trans 'Help' %}</a>
                <a class="dropdown-item" href="#">{% trans 'About Us' %}</a>
                <a class="dropdown-item" href="#">{% trans 'Contact' %}</a>
            </div>
        </div>
    </div>

</nav>
<a class="btn btn-outline-primary mr-2" href="{% url 'product:products-cart' %}">
    <span class="badge badge-dark">
        {% if 'selected_items' in request.session %}
        {{ request.session|get_item:"selected_items"|length }}
        {% else %}
        0
        {% endif %}
    </span>
    Cart
</a>

{% if request.user.is_authenticated %}
    {% if not person.customer %}
        <a class="btn btn-outline-primary mr-2" href="{% url 'product:product-create' %}">{% trans 'Add Product' %}</a>
    {% else %}    
        <a class="btn btn-outline-primary mr-2" href="{% url 'notifications:notifications-list' %}">
            <span class="badge badge-dark">
                {{ num_notifications }}
            </span>
            Notifications
        </a>
    {% endif %}
    <a class="btn btn-outline-primary mr-2" href="{% url 'order:order-history' %}">{% trans 'Orders' %}</a>
    <a class="mr-2" href="{% url 'log_out'%}">{% trans 'Sign Out' %}</a>
{% else %}
    <a class="btn btn-outline-primary mr-2" href="{% url 'login_user' %}">{% trans 'Login' %}</a>
    <a class="btn btn-outline-primary mr-2" href="{% url 'sign_up'%}">{% trans 'Sign Up' %}</a>
{% endif %}
