{% extends 'base_layout.html' %}

{% block content %}
<h1 class="text-center mt-5">Order History</h1>
<table class="table mt-5 text-center">
    <thead>
        <tr>
            <th scope="col">#(Order No.)</th>
            <th scope="col">Order Total</th>
            <th scope="col">Ordered items</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders_list %}
            <tr>
                <th>{{ order.id }}</th>
                <td>{{ order.total }}</td>
                <td>
                    {% for item in order.items %}
                    <h5><a class="badge badge-secondary" href="{% url 'order:order-product-item' item.id order.id %}">{{ item.name }} <span class="badge badge-dark">{{ item.quantity }}</span></a></h5>
                    {% endfor %}
                </td>
                <td>
                    {% if person.customer %}
                        <a class="btn btn-outline-primary" href="{% url 'order:order-invoice' order.id %}">View Invoice</a>
                        <a class="btn btn-outline-primary" href="{% url 'order:order-generate-pdf' order.id %}">PDF</a>
                    {% else %}
                        {% if status %} 
                            <button class="btn btn-outline-success" href="#" disabled>Request Completed</button>
                        {% else %}
                            <a class="btn btn-outline-primary" href="{% url 'order:order-request' order.id %}">Confirm Request Completion</a>
                        {% endif %}
                            <a class="btn btn-outline-primary" href="#">CSV</a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <h4 class="text-center text-muted mt-3">No Orders</h4>
            </tr>
        {% endfor %}
    </tbody>
</table>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2"
                src="https://stackpath.bootstrapcdn.com/bootstrap//docs/4.3/assets/brand/bootstrap-solid.svg" alt=""
                width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; Duuka 2019</small>
        </div>
    </div>
</footer>

{% endblock %}
