{% extends 'base_layout.html' %}
{% load i18n %}

{% block content %}
    <h1 class="text-center mt-5">{{ title }}</h1>
    <form class="mt-5" action="{% url 'product:product-create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="product-name">{% trans 'Product Name' %}</label>
            <input type="pdt-name" class="form-control" id="pdt-name" name="pdt-name" value="{{ product.product_name }}" required>
        </div>
        <div class="form-group">
            <label for="desc">{% trans 'Description' %}</label>
            <input type="text-area" class="form-control" id="desc" name="desc" value="{{ product.description }}" required>
        </div>
        <div class="form-group">
            <label for="price">{% trans 'Price' %}</label>
            <input type="number" class="form-control" id="price" name="price" value="{{ product.price }}" min="0" required>
        </div>
        <div class="form-group">
            <label for="image">{% trans 'Upload Image' %}</label>
            <input type="file" name="image" required>
        </div>
        <input type="hidden" id="pdt-id" name="pdt-id" value="{{ product.id }}" required>
        <div class="form-group">
            <label for="category">{% trans 'Category' %}</label>
            <select class="form-control" name="category" id="category">
                {% for category in categories %}
                    {% if product.category.category_name == category.category_name %}
                        <option  name="category" selected>{{ category.category_name }}</option>
                    {% else %}
                        <option  name="category">{{ category.category_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">{% trans 'Submit' %}</button>
    </form>
{% endblock %}
