{% extends 'base_layout.html' %}

{% block content %}
    <h1 class="text-center mt-5">Shopping cart</h1>
    
    <table class="table mt-5 text-center">
        <thead>
            <tr>
                <th scope="col">#(Quantity)</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Remove Item</th>
            </tr>
        </thead>
        <tbody>
            <form method="POST" action="{% url 'order:order-products' %}">
            {% csrf_token %}
            {% for item in request.session|get_item:"selected_items" %}
            <tr>
                <th ><input name="quantity" type="number" min="1" value="1"></th>
                <td >{{ item|get_item:"name" }}</td>
                <td>{{ item|get_item:"price" }}</td>
                <td >{{ item|get_item:"category" }}</td>
                <td><a class="" href="{% url 'product:product-cart-remove' item|get_item:'id' %}">x</a></td>
            </tr>
            {% empty %}
            <tr>
            <h4 class="text-center text-muted mt-3">No Items in the cart</h4>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if request.session|get_item:"selected_items"|length > 0 %}
    {% if request.user.is_authenticated %}
    <div class="container center-block">
        <div class="row">
            <div class="col-md-4 offset-md-4">
    <h3 class="text-muted mt-4">Choose Payment Method</h3>    
    
    <div class="form-check">
    <input class="form-check-input" type="radio" name="payment" id="payRadio1" value="cash" checked>
    <label class="form-check-label" for="exampleRadios1">
        Cash
    </label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" name="payment" id="payRadio2" value="card">
    <label class="form-check-label" for="exampleRadios2">
        Card(Visa)
    </label>
    </div>
    </div>
    </div>
    </div>
    <div class="text-center mt-5">
            <button class="btn btn-lg btn-outline-primary" href="{% url 'order:order-products' %}">Checkout</button>
        
        </form>
        
        
    </div>
    {% else %}
    <div class="text-center mt-5">
        <button class="btn btn-lg btn-outline-primary" href="{% url 'order:order-products' %}" disabled>Checkout (Cash)</button>
        <div class="text-muted mt-3">Please login to make order</div>
    </div>
    {% endif %}
    {% endif %}

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2"
                    src="https://stackpath.bootstrapcdn.com/bootstrap//docs/4.3/assets/brand/bootstrap-solid.svg" alt=""
                    width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; Duuka 2019</small>
            </div>
        </div>
    </footer>
{% endblock %}
