{% extends 'base_layout.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <h1 class="text-center mt-5">{% trans 'Products' %}</h1>
    <div class="row text-center mt-5">
        {% for product in product_list %}
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.product_name }}</h4>
                </div>
                <img class="card-img-top p-4 center-block image-details" src="{{ product.image }}" alt="Image Unavailable">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">${{ product.price }} <small class="text-muted">/ mo</small></h1>
                    <div class="row">
                        {% if not person.customer and request.user.is_authenticated %}
                            <div class="col-12">
                                <a class="btn btn-lg btn-outline-primary ml-2" href="{% url 'product:product-item' product.id %}">{% trans 'View' %}</a>
                            </div>
                        {% else %}
                            <div class="col-3 ml-4">
                                <a class="btn btn-lg btn-outline-primary ml-2" href="{% url 'product:product-item' product.id %}">{% trans 'View' %}</a>
                            </div>
                        {% endif %}
                        {% if person.customer or not request.user.is_authenticated %}
                            <div class="col-8">
                                <form method="POST" action="{% url 'product:products-cart' %}">
                                    {% csrf_token %}
                                    <input name="product_id" type=hidden value="{{ product.id }}">
                                    <input name="product_name" type=hidden value="{{ product.product_name }}">
                                    <input name="product_price" type=hidden value="{{ product.price }}">
                                    <input name="product_category" type=hidden value="{{ product.category.category_name }}">
                                    <button type=submit class="btn btn-lg btn-outline-primary ">{% trans 'Add To Cart' %}</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <h3 class="text-muted text-center mt-5">{% trans 'No Products Available.' %}</h3>
        {% endfor %}
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2"
                    src="https://stackpath.bootstrapcdn.com/bootstrap//docs/4.3/assets/brand/bootstrap-solid.svg" alt=""
                    width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; Duuka 2019</small>
            </div>
        </div>
    </footer>
{% endblock %}
