{% extends 'base_layout.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <h1 class="text-center">{{ product.product_name }} - $ {{ product.price }} </h1>

    <div class="row text-center mt-5">
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top p-4 center-block" src="{% static 'smarttv.jpeg' %}" alt="Imsge Unavailable">
            </div>
        </div>
        <div class="col-sm-8">
            <H4>{% trans 'Description' %}</H4>
            <p class="mt-4">{{ product.description }}</p>
            <form method="POST" action="{% url 'product:products-cart' %}">
                {% csrf_token %}
                <input name="product_id" type=hidden value="{{ product.id }}">
                <input name="product_name" type=hidden value="{{ product.product_name }}">
                <input name="product_price" type=hidden value="{{ product.price }}">
                <input name="product_category" type=hidden value="{{ product.category.category_name }}">
                <button type=submit class="btn btn-lg btn-outline-primary ">{% trans 'Add To Cart' %}</button>
            </form>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2"
                    src="https://stackpath.bootstrapcdn.com/bootstrap//docs/4.3/assets/brand/bootstrap-solid.svg" alt=""
                    width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; Duuka 2019</small>
            </div>
        </div>
    </footer>
{% endblock %}
